---
import PortfolioLayout from '../layouts/PortfolioLayout.astro';
import TopNav from '../components/TopNav.astro';
import Hero from '../components/Hero.astro';
import Work from '../components/Work.astro';
import Experience from '../components/Experience.astro';
import About from '../components/About.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<PortfolioLayout>
  <TopNav />
  <main id="content">
    <Hero />
    <Work />
    <Experience />
    <About />
    <Contact />
  </main>
  <Footer />
</PortfolioLayout>
